<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="classes" thread-count="2">
  <test name="Regression 1">
    <classes>
      <class name="Runner.TestRunnerAbhyasi"/>
      <!--  <class name="Runner.TestRunnerPreceptor"/>-->
    </classes>
  </test>
</suite>