<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="classes" thread-count="2">
  <test name="Regression 1">
    <classes>
      <class name="AppTest.com.vishnu.app.TestRunner"/>
      <!--  <class name="AppTest.com.vishnu.app.BaseTest2"/>-->
    </classes>
  </test>
</suite>